<% if current_user %>
  <%="Welcome #{current_user.name}"%>
<%end%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">RepoName</th>
      <th scope="col">description</th>

    </tr>
  </thead>
  <tbody>
    <% @repos_list.each_with_index do |repo,i|%>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%=link_to repo.name,repo.html_url,target: 'new' %></td>
        <td><%= repo.description %></td>
        <td><%=link_to "Details",repo_path(repo.name),target: 'new' %></td>
      </tr>
    <%end%>
  </tbody>

</table>